a {
	color: #52A6FF;
	font-weight: bold;
}

a:hover {
	color: #52A6FF;
	font-weight: bold;
}

h2 {
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	font-weight: bold;
	margin-top: 5em;
}

.countLabel {
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	display: block;
}

.count {
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	font-size: 5em;
	font-weight: bold;
}

.diff {
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	font-size: 2em;
	font-weight: bold;
	opacity: 0;
}

.diff.more {
	color: #E38A81;
}

.diff.less {
	color: #27AE60;
}

.diff.show {
	opacity: 1;
	transition: 1s; 
}

#countyCaseCounts, #countyDeathCounts, #unitedStates {
	.countLabel {
		font-size: 1.3em;
	}

	.count {
		font-size: 3em;
	}

	.diff {
		font-size: 1.5em;
	}
}

.days {
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	opacity: 0;
	display: block;
}

.days.show {
	opacity: 1;
	transition: 1s; 
}

.rank {
	font-family: "Courier New", Courier, monospace;
	color: #fff;
	font-size: 1em;
	font-weight: bold;opacity: 0;
	display: block;
}

.rank.show {
	opacity: 1;
	transition: 1s; 
}